#top_div, #mid_div, #bot_div {
	font-size: 3em;
}

#top_div {
	background-color: lightgrey;
}

#mid_div {
	background-color: grey;
}

#bot_div {
	background-color: tan;
}

pre.wrap {
	word-wrap: all;
}